{% if shop.metafields.andd_multi_order['app_status'] == "app_active" %}
<div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
    <div class="andd-multiple-orders">
        <a href="/apps/multi-shippings/checkout/shippings" style="width:100%;" class="button btn additional-checkout-buttons">複数配送先に注文</a>
    </div>
</div>
{% endif %}